# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
monstarillo
/context.json
/tables.json
test-data/IntegrationTestSettings.json
/engine/context.json
/engine/tables.json
/UnitTestResults
dist/

.idea
.DS_Store
